.justify-content-center 
{
    background-color: black;
    padding: 10px;
    justify-content: center;
}

#accessoire
{
    text-align: center;
}

#air
{
    text-align: center;
}
#p_app1{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 25px;
}

#p_app
{
    text-align: center;
    color: black;
    font-size: 18px;
}

#logic
{
    text-align: center;
}

#fond
{
    background-color: rgba(245,245,247,0.7);
}
